<header>
    <nav class="menu">
        <div class="menu-content">
            <div class="menu-logo">
                <img src="assets/img/logo/logo-light.png" alt="Logo" class="menu-logo__icone">
            </div>

            <ul class="menu__lista">
                <li class="menu__lista__item">
                    <i class="pi pi-home icone"></i>
                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-star icone"></i>

                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-fw pi-compass icone"></i>

                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-fw pi-briefcase icone"></i>

                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-fw pi-align-left icone"></i>

                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-fw pi-download icone"></i>
                </li>
            </ul>
        </div>

        <img src="assets/img/usuarios/user-1.png" alt class="menu__usuario">
    </nav>

    <button class="menu-mobile">
        <i class="pi " [ngClass]="{'pi-align-justify': !toggleMenu, 'pi-times': toggleMenu}" (click)="toggleMenu = !toggleMenu"></i>
    </button>

    <nav class="nav-mobile" *ngIf="toggleMenu">
        <ul class="nav-mobile-lista">
            <li class="item">
                <i class="pi pi-home icone"></i>
                <span>Dashboard</span>
            </li>
            <li class="item">
                <i class="pi pi-star icone"></i>
                <span>Favoritos</span>
            </li>
            <li class="item">
                <i class="pi pi-fw pi-compass icone"></i>
                <span>Utilies</span>
            </li>
            <li class="item">
                <i class="pi pi-fw pi-briefcase icone"></i>
                <span>Pages</span>
            </li>
            <li class="item">
                <i class="pi pi-fw pi-align-left icone"></i>
                <span>Hierarchy</span>
            </li>
        </ul>
    </nav>
</header>