<header>
    <nav class="menu">
        <div class="menu-content">
            <div class="menu-logo">
                <img src="assets/img/logo/logo-light.png" alt="Logo" class="menu-logo__icone">
            </div>

            <ul class="menu__lista">
                <li class="menu__lista__item">
                    <i class="pi pi-home icone"></i>
                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-star icone"></i>

                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-fw pi-compass icone"></i>

                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-fw pi-briefcase icone"></i>

                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-fw pi-align-left icone"></i>

                </li>
                <li class="menu__lista__item">
                    <i class="pi pi-fw pi-download icone"></i>
                </li>
            </ul>
        </div>

        <img src="assets/img/usuarios/user-1.png" alt class="menu__usuario">
    </nav>
</header>