@import '../../../../../assets/scss/breakpoints';
.lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    @include responsivo(lp) {
        justify-content: center;
    }
}