<div class="dashboard">
    <app-lista-card [lista]="x"></app-lista-card>
    <div class="lista">
        <div class="card">
            <h5 class="card__title">Pie Chart</h5>
            <div class="card-chart">
                <app-chart-pie></app-chart-pie>
            </div>
        </div>

        <div class="card">
            <h5 class="card__title">Pie Chart</h5>
            <div class="card-chart">
                <app-chart-bar></app-chart-bar>
            </div>
        </div>

        <div class="card">
            <h5 class="card__title">Pie Chart</h5>
            <div class="card-chart">
                <app-chart-doughnut></app-chart-doughnut>
            </div>
        </div>

        <div class="card">
            <h5 class="card__title">Pie Chart</h5>
            <div class="card-chart">
                <app-chart-bar></app-chart-bar>
            </div>
        </div>
        <div class="card">
            <h5 class="card__title">Pie Chart</h5>
            <div class="card-chart">
                <app-chart-pie></app-chart-pie>
            </div>
        </div>

        <div class="card">
            <h5 class="card__title">Pie Chart</h5>
            <div class="card-chart">
                <app-chart-bar></app-chart-bar>
            </div>
        </div>
    </div>

</div>