<div class="dashboard">
    <app-lista-card [lista]="x"></app-lista-card>
    <div class="lista">

        <div class="card">
            <h5 class="card__title">Porcentagem de variação</h5>
            <div class="card-chart">
                <app-chart-pie></app-chart-pie>
            </div>
        </div>

        <app-card-chart-bar title="Bar chart"></app-card-chart-bar>

        <div class="card">
            <h5 class="card__title">Doughnut Chart</h5>
            <div class="card-chart">
                <app-chart-doughnut></app-chart-doughnut>
            </div>
        </div>

        <div class="card">
            <h5 class="card__title">Pie Chart</h5>
            <div class="card-chart">
                <app-chart-linear-scale></app-chart-linear-scale>
            </div>
        </div>

        <div class="card">
            <h5 class="card__title">Pie Chart</h5>
            <div class="card-chart">
                <app-chart-bar></app-chart-bar>
            </div>
        </div>



        <div class="card">
            <h5 class="card__title">Pie Chart</h5>
            <div class="card-chart">
                <app-chart-bar></app-chart-bar>
            </div>
        </div>
    </div>

</div>