.card {
    max-width: 530px;
    height: 352px;
    margin: 20px 0;
    padding: 16px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    width: 530px;
    &__title {
        color: white;
        margin-bottom: 12px;
        font-weight: 600;
        line-height: 1.2;
        font-size: 1.25rem;
    }
    &-chart {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}