@import '../../../../../assets/scss/breakpoints';
.menu {
    position: fixed;
    background: transparent;
    max-width: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px 15px;
    border-radius: 0 40px 40px 0;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.1s ease;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-logo {
        &__icone {
            width: 38px;
        }
        &__nome {
            display: none;
            width: 60%;
            margin-left: 20px;
            font-size: 32px;
            letter-spacing: 2px;
        }
    }
    &__lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding-top: 30px;
        &__item {
            margin-bottom: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 5px;
            transition: .2s ease;
            .icone {
                font-size: 1.25rem;
                color: white;
            }
            &:last-child {
                margin: 0;
            }
            &:hover {
                background: #6565651f;
                border-radius: 3px;
            }
        }
    }
    &__usuario {
        width: 44px;
        height: 44px;
    }
    @include responsivo(lp) {
        display: none;
    }
    @include responsivo(m) {
        display: none;
    }
}

.menu-mobile {
    display: none;
    @include responsivo(lp) {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 16px;
        background: transparent;
        color: white;
        border: none;
        font-size: 24px;
        cursor: pointer;
        z-index: 20;
        outline: none;
    }
}

.nav-mobile {
    height: 100%;
    position: fixed;
    width: 50%;
    background: #3a3838f5;
    z-index: 10;
    padding-top: 110px;
    padding-left: 40px;
    animation: menu .5s ease forwards;
    @include responsivo(m) {
        width: 80%;
    }
    &-lista {
        .item {
            font-size: 18px;
            margin-bottom: 50px;
            cursor: pointer;
            transition: .2s ease;
            .icone {
                margin-right: 20px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                color: #bfb0b0;
            }
        }
    }
}

@keyframes menu {
    from {
        transform: translate3d(-30px, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}