/* You can add global styles to this file, and also import other style files */

@import './assets/scss/variaveis';
@import './assets/scss/functions';
@import './assets/scss/breakpoints';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: $font-family;
    font-size: rem(14);
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background: $gradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    @include reponsivo(lp) {
        max-width: 100%;
        width: 100%;
        padding: 16px;
    }
}