/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --surface-a: #868C9B;
    --surface-b: rgba(255, 255, 255, 0.05);
    --surface-c: rgba(255, 255, 255, 0.1);
    --surface-d: rgba(255, 255, 255, 0.15);
    --surface-e: rgba(255, 255, 255, 0.2);
    --surface-f: rgba(255, 255, 255, 0.25);
    --text-color: #FFFFFF;
    --text-color-secondary: #C8CCD8;
    --primary-color: #0F8BFD;
    --primary-color-text: #ffffff;
    --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --surface-0: #17212f;
    --surface-50: #1d2734;
    --surface-100: #232c39;
    --surface-200: #28323f;
    --surface-300: #2e3744;
    --surface-400: #343d49;
    --surface-500: #3a424e;
    --surface-600: #404853;
    --surface-700: #454d59;
    --surface-800: #4b535e;
    --surface-900: #515963;
    --content-padding: 1.143rem;
    --inline-spacing: 0.5rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background: linear-gradient(180deg, #2E323F 0%, #0A061A 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
}